{% extends 'home.html' %}
{% block title %}Загрузка фото{% endblock %}
{% block content %}
<div class="center">
    <h1 class="name_album">Загрузка фотографии</h1>
    <form method="POST" enctype="multipart/form-data" class="card">
        {% csrf_token %}
        <div class="mb-4">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="mb-4">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <button type="submit" class="btn btn-outline-secondary">Загрузить</button>
    </form>
</div>
{% endblock %}